.myClass{
    transition: 330ms;
    outline: #06113C solid 3px;
    opacity: 0.9;
}

.myClass:hover{
    transform: scale(1.1);
    cursor: pointer;
    outline: #06113C solid 3px;
    opacity: 1;
}

.like_dislike{
    transition: 330ms;
}

.like_dislike:hover{
    transform: scale(1.15);
    cursor: pointer;
}

#menuBtn{
    display: none;
}

/* From uiverse.io by @CristianMontoya98 */
.btn {
    width: 6.5em;
    height: 2.3em;
    margin: 0.5em;
    background: #06113C;
    color: white;
    border: none;
    border-radius: 4%;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
   }
   
   .btn:hover {
    color: black;
   }
   
   .btn:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }
   
   .btn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }

@media(max-width: 640px)
{
    #menuBtn{
        display: block;
    }

    #my_nav{
        display: none;
    }

    #my_nav.show_menu{
		width: 100%;
        z-index: 99999999;
        display: block;
        padding: 1rem;
        background-color: #06113C;
        top: 10%;
        left: 0%;
        position: absolute;
    }

    .myClass2{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}